includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Trait OkekeDev\\Bachs\\Concerns\\Billsable is used zero times and is not analysed.#'
